body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: repeat(12, auto);
    grid-gap: 2px;
}

.main {
    grid-column: 2;
    padding-top: 20px;
}

.top-bar {
    grid-column: 1 / 4;
}

.bucketlists {
    margin-top: 2em;
}

.login-form {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
}

.login-form>div {
    grid-column: 2;
}